.header {
  margin-bottom: 20px;
}

.has-tooltip {
  color: #000;
  background: yellow;
}

.has-tooltip:hover {
  color: red;
}

.tooltip {
  position: fixed;
  opacity: 0;
  background: rgba(0, 0, 0, .8);
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  transition: .3s all;
}